* {padding: 0%;
        margin: 0%;
}
@keyframes bg{
    0% {background-position : 0% 50% ;}
    50% {background-position : 50% 100% ;}
    100% {background-position : 100% 0% ;}}
#apps { 
    width: 100vw; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;  
    gap: 1vw; 
    border-bottom: solid rgb(9, 5, 66);
} 
.appimg {
    height: 90px;
    width: 180px;
    padding-top: 3px;
    border-radius: 15px ;
}
.notes {
      height: 30vh;
      color: rgb(218, 228, 238);
}
h4  {
    background-color: rgba(204, 166, 166, 0.15);
    text-align: center;
    color: black;
    font-size: 30px;
}
button {
    display: block;
    height: 40px;
    width: 120px;
    font-size: 20px;
    color: black;
    background: linear-gradient( 45deg ,rgb(6, 4, 165),blue,rgb(76, 8, 165)) ;
    cursor: pointer;
}
.caption {
    align-self:center ;
    text-align: center;
    color: black;
    font-size: 15px;
    width: 65vw;
    justify-content: center;
}
h5 {
    font-size: 22px;
}
#notesimg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
th {
    background-color : #03488599;
    border-radius: 10px;
    width: 50px;
    height: 25px;
}
td {
    background-color: #0075C499;
    height: 50px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}
.time {
    width: 64vw; height: 60vh;
        background-color: rgba(207, 118, 118, 0.15);
        overflow: scroll;
}
.books {
    width: 35vw;
        background-color: rgba(207, 118, 118, 0.15);
}
.timeandbooks {
    background-color:rgba (207, 118, 118, 0.15);
    display: flex;
    justify-content: space-evenly;
    padding: 15px 5px 0px 5px ;
    gap: 10px;
    overflow: hidden;
}
table {
    padding-bottom: 10px;
}
#slots {
    font-weight: 600;
}

@media (max-width:1200px) {
.time {
    width:100vw ;
    height: 22 vh;
    overflow: scroll;
    flex-shrink: 0;
} 
.books {
    width: 100vw;
}
.timeandbooks {
    flex-direction: column;
    padding-right: 5px;
    }
#buttons {
    gap: 10px;
}
th {
    background-color : #03488599;
    border-radius: 10px;
    width: 300px;
    height: 25px;
    flex-shrink: 0;
}
td {
    background-color: #0075C499;
    height: 60px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    flex-shrink: 0;
}
p {
    font-size: 24px;
}
h5 {
    font-size: 32px;
}
#slots {
    font-weight: 800;
}
h4 {
    font-size: 38px;
}
}